@font-face {
  font-family: prstart;
  src: url("./fonts/prstart.ttf");
}

@font-face {
  font-family: 8bitlim;
  src: url("./fonts/8bitlim.ttf");
}

body {
  overflow: hidden;
  background-color: black;
}

#gamebar{
  display: flex;
}

#sidebar{

height: 1000px;
}

#stats{
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.list{
  position: relative;
  line-height: 60px;
  left: 120px;
  top: 130px;

}

#name {
  position: relative;
  bottom: 16px;
  right: 35px;
}

#imagen {
  height: 100vh;
  width: 100vw;
}

.buttons {
  position: relative;
  width: 400px;
  height: 150px;
  bottom: 420px;
  left: 200px;
  font-family: prstart;
  font-size: 50px;
  border: 5px solid black;
  background-color: lightgrey;
}